diffusers==0.32.1
diffusers==0.30.3
diffusers==0.33.1
Flask==2.2.2
Flask==2.2.5
gradio==5.25.2
numpy==1.24.3
pandas==2.0.3
Pillow==10.0.1
Pillow==9.4.0
Pillow==11.2.1
pip==23.2.1
pip==24.2
pip==25.0
pip==25.0.1
plotly==5.18.0
plotly==5.9.0
plotly==6.0.1
protobuf==6.30.2
python-dotenv==1.1.0
streamlit==1.31.0
streamlit==1.44.1
torch==2.2.0
torch==2.3.1
torch==2.5.1
torch==2.6.0
torchvision==0.17.0
torchvision==0.20.1
torchvision==0.15.2
plotly==5.9.0
streamlit==1.42.2
streamlit==1.44.1
